/* style */
body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
h1 {
  color: var(--important-title);
}

h2, h3, span {
  color: var(--subtitle-color);
}
.icon {
  color: var(--icon-color);
}

img.loading {
  filter: grayscale(50%);
  opacity: 0.5;
}
a.link:hover{
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  box-sizing: border-box;
  margin-left: 10%;
  margin-right: 10%;
}
:root {
  --bg-color: #1c1c1c;
  --text-color: #d9d9d9;
  --subtitle-color: #0750b1;
  --icon-color: #959595;
  --important-title: #ffffff;
  --link-color: #0750b1;
}

.color-link:hover{
  color: var(--link-color);
}

.font-2-xs {
  font: 400 0.875rem/1.43 "Noto Sans", sans-serif;
}

.font-3-xs {
  font: 400 0.875rem/1.43 "Nunito Sans", sans-serif;
}


.font-2-s {
  font: 400 1rem/1.5 "Noto Sans", sans-serif;
}

.font-3-s {
  font: 400 1rem/1.5 "Nunito Sans", sans-serif;
}


.font-2-m {
  font: 500 1.5rem/1.35 "Noto Sans", sans-serif;
}

.font-l {
  font: 400 2rem/1.35 "Nunito Sans", sans-serif;
}

.font-1-l {
  font: 500 1.7rem/1.5 "Nunito Sans", serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Noto Sans", sans-serif;
}

.font-3-l {
  font: 400 1.5rem/1.5 "Nunito Sans", sans-serif;
}

.font-2-l-b,
.font-3-l-b {
  font-weight: 500;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

.font-1-xl{
  font: 500 3.2rem/1.25 "Nunito Sans", serif;
}

.font-2-xl {
  font: 500 2.8rem/1.25 "Noto Sans", sans-serif;
}

.font-3-xl {
  font: 800 3.2rem/1.25 "Nunito Sans", sans-serif;
}


/* header */
.header-bg {
  padding: 50px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  display: flex;
  align-items: center;
  gap: 36px;
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.header-menu a{
  padding-left: 20px;
}
/* main */
main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('assets/img/main.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}
.main-content {
  position: absolute;
  z-index: 2;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.733);
  z-index: 1;
}

.social-links {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 300px;
}

.icons {
  display: flex;
  justify-content: space-between;
}
.icons img{
  width: 50px;
}

.icon-link {
  background-color: transparent !important;
  border: none;
  outline: none;
}

/* about */
.about-bg{
  padding-top: 100px;
  padding-bottom: 120px;
}
.about-bg h1{
  padding-top: 20px;
  padding-bottom: 80px;
}.about-bg p{
  padding-bottom: 100px;
}
.skills {
  display: flex;
  gap: 6vh;
  justify-content: center;
}
.skill {
  width: 100px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #959595;
  border-radius: 4px;
  position: relative;
}
.skill img {
  max-width: 50px;
  max-height: 50px;
}
.skill::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background-color: #006dff;
}
/* projects */
.project-list h1 {
  padding-top: 20px;
  font-size: 44px;
  color: #1272d8;
  margin-bottom: 40px;
}
.project-item {
  display: flex;
  width: 100%;
  gap: 40px;
  padding-bottom: 100px;
}
.image-container {
  padding-left: 150px;
  width: 55%;
  display: flex;
  justify-content: center;
}
.project-img {
  width: 100%;
  max-width: 650px;
  height: 380px;
  border-radius: 15px;
}
.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.project-title {
  font-size: 24px;
  color: #007bff;
  margin: px;

}
.project-description {
  font-size: 20px;
  color: #cccccc;
  line-height: 1.5;
  padding-bottom: 30px;
}
.tags-list {
  display: flex;
  gap: 25px;
}
.tag {
  font-size: 14px;
  font-weight: bold;
  color: #007bff;
  text-transform: uppercase;
}

.project-button {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
  background-color: transparent !important;
  padding-left: 0px;
}
.project-button:hover {
  color: #0095ff;
}
.project-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.project-button {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
  transition: 0.3s;
  padding-bottom: 20px;
}

.project-button:hover {
  color: #0095ff;
}







@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  background-color: #1f2029;
  overflow-x: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-size: 4%;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 300px;
}
.sec-center {
  position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}

.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 36px;
  width: 190px;
  letter-spacing: 1px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  background-color: #064fb6;
  cursor: pointer;
  color: white;
  box-shadow: 0 12px 35px 0  #312929;
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #a78a2d;
  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 6px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
a:hover {
  color: #102770;
  background-color: #17171d;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ab12e7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}
.dropdown-sub:checked + label,
.dropdown-sub:not(:checked) + label{
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
    -ms-flex-pack: distribute;
    cursor: pointer;
}
.dropdown-sub:checked + label .uil,
.dropdown-sub:not(:checked) + label .uil{
  font-size: 22px;
}
.dropdown-sub:not(:checked) + label .uil {
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label .uil {
  transform: rotate(135deg);
  transition: transform 200ms linear;
}
.dropdown-sub:checked + label:hover,
.dropdown-sub:not(:checked) + label:hover{
  color: #102770;
  background-color: #ffa7a7;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub{
  color: #102770;
}
.dark-light:checked ~ .sec-center .section-dropdown .for-dropdown-sub:hover{
  color: #361f50;
  background-color: #102770;
}

.section-dropdown-sub {
  position: relative;
  display: block;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  max-height: 0;
  padding-left: 10px;
  padding-right: 3px;
  overflow: hidden;
  transition: all 200ms linear;
}
.dropdown-sub:checked ~ .section-dropdown-sub{
  pointer-events: auto;
  opacity: 1;
  max-height: 999px;
}
.section-dropdown-sub a {
  font-size: 14px;
}
.section-dropdown-sub a .uil {
  font-size: 20px;
}

.dark-light:checked ~ .logo img{
  filter: brightness(10%);
}



